footer {
    position: relative;
    top: 10vh;
    width: 100%;
    background-color: #6b79ab  !important;
    color: whitesmoke; 
    padding: 15px; 
  }


  footer p {
    text-align: center;
    font-size: 15px;
  }
